body{
  background-color:midnightblue;
  justify-items: center;
  align-content: center;
}
h1{
color: aliceblue;
width: 855px ;
text-align: center;
vertical-align: middle;
direction: rtl;
border-radius: 8px;
}
main{
  max-width: fit-content;
  width: 1000px;          
  min-height: 520px;      
  background-color: rgb(73, 57, 160);
  margin: 20px auto;      
  padding: 24px;          
  box-sizing: border-box;
  border-radius: 8px;
}

/* Inputs */
#Input-Text {
  width: 405px;
  height: 50px;
  border-radius: 6px;
  padding: 5px;
  margin-left: 0px;
  box-sizing: border-box;
}
#Input-Date 
{
  width: 340px;
  height:50px;
  border-radius: 5px;
  padding: 6px;
   margin-left: 0px;
  box-sizing: border-box;
}

/* Buttons */
#Add-button {
  margin: 0; 
  width: 60px;
  height: 50px;
  border-radius: 6px;
   margin-left: 5px;

  display: inline-block;
}
#Filter-button {
  background-color: rgb(47, 83, 201);
  color: antiquewhite;
  width: 72px;
  height: 44px;
  border-radius: 6px;
  margin-top: 20px;
  margin-left: 0px;
  vertical-align: middle;
  display: inline-block;
}
#Delete-button {
  width: 72px;
  height: 44px;
  background-color: crimson;
  color: white;
  vertical-align: middle;
  border-radius: 6px;
  margin-top: 20px;
  margin-left: 670px; 
  display: inline-block;
}

/* Table */
#Main-table {
  width: 815px; 
  border-radius: 10px;
  background-color: rgb(115, 100, 212);
  color: aliceblue;
  margin: 15px auto;
}

#Table-Task,
#Table-DueDate,
#Table-Status,
#Table-Action {
  text-indent: 10px;
  text-align: center;
  vertical-align: middle;
  direction: rtl;
}

#No-Task {
  text-align: center;
  vertical-align: middle;
  padding: 0.9rem 1.2rem;
}

