.Full-Body 
{
background-color: rgb(189, 147, 9);
color: white;
font-family: 'Times New Roman', Times, serif;

}

.Header-text {
  display: flex;
  text-align: center;
  margin: 20px 95px ;
  font-size: 2rem;
  border: solid;
  border-color: black;
  background-color: white;
  color: black;
}

.top-actions {
  text-align: center;
  margin-bottom: 8px;
}


#Main-table {
  background-color: white;
  color: black;
  border-radius: 6px;
  width: 80%;            
  max-width: 900px;
  margin: 0 auto 20px;   
  border-collapse: collapse;
  table-layout: fixed;   
  border: solid;
}
tr{
  border: solid;
  border-bottom: 1px solid black;
}

#Main-table th,
#Main-table td {
  padding: 8px;
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word;
}

#Main-table tfoot td input[type="text"],
#Main-table tfoot td input[type="date"] {
  width: 90%;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 6px;
}

#Main-table tfoot td button#Add-button {
  display: inline-block;
  margin: 6px auto;
  padding: 6px 10px;
  cursor: pointer;
}


button.delete-task {
  background-color: red;
  color: white;
  padding: 4px 8px;
  cursor: pointer;
  position: relative;
}
#Add-button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
  border-radius: 6px;
  border-style: solid;

}

@media (max-width: 480px) {
  #Main-table {
    width: 98%;
  }
  #Main-table tfoot td input[type="text"],
  #Main-table tfoot td input[type="date"] {
    width: 100%;
  }
}
footer{
  text-align: end;
  margin-right: 80px;
}